<h2>投稿を編集</h2>
  <%= image_tag @blog.image.url if @blog.image.url %>
</p>
<%= render 'form', blog: @blog %>

<p class="go_to_index_blog"><%= link_to '投稿を確認', @blog %>
<%= link_to '戻る', blogs_path %></p>
