<h3 class="favorites_title">お気に入り一覧</h3>
<% @favorites.each do |f| %>

  <div class="one_box">
    <p><%= f.content %></p>
    <p><%= image_tag f.image.url if f.image.url %></p>
  </div>
<% end %>

<p class="favorites_operation"><%= link_to "戻る", user_path(current_user.id) %></p>
